.bg-red {
  background-color: tomato;
}
.color-red {
  color: tomato;
}

.bg-green {
  background-color: teal;
}
.color-green {
  color: teal;
}

.bg-blue {
  background-color: steelblue;
}
.color-blue {
  color: steelblue;
}

.scaleZero {
  transform: scale(0);
}

.center-text {
  text-align: center;
}

.margin-top-medium {
  margin-top: 80px;
}

.margin-bottom-medium {
  margin-bottom: 50px;
}

.margin-top-small {
  margin-top: 20px;
}

.margin-top-xsmall {
  margin-top: 5px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.text-bold {
  font-weight: bold;
}
