.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  transition: all 0.4s;

  &__left,
  &__right {
    list-style: none;
    display: flex;
  }

  &__item {
    position: relative;
    padding: 3px 0;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-3;
    display: inline-block;
    padding: 10px 12px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: calc(100% - 24px);
      height: 2px;

      background-image: linear-gradient(
        to right,
        transparent 50%,
        $color-2 50%
      );
      background-size: 200%;
      position: absolute;
      transition: 0.3s;
    }

    &:hover {
      color: lighten($color-3, 100);

      &::after {
        background-position: -100%;
      }
    }

    &--active::after {
      background-color: $color-4;
    }
  }
}

.nav-pricing {
  // _tooltip.scss configuration: start
  $size: 12px;
  top: calc(100% + #{$size});

  &::before {
    border-color: transparent transparent rgba($color-4, 0.85) transparent;
  }

  &::after {
    height: $size;
    top: -1 * $size;
  }
  // _tooltip.scss configuration: end

  background-color: rgba($color-4, 0.85);
  padding: 2px;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;

  &__col {
    background-color: $color-3;
    width: 150px;
    padding: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-4;
    }
  }

  &__title,
  &__price {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &__price {
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
  }

  &__more {
    margin-top: 10px;

    a {
      color: $color-1;
      text-decoration: none;

      &:hover {
        color: darken($color-1, 100);
      }
    }
  }
}

.nav__item:hover .nav-pricing {
  transform: scale(1);
  opacity: 1;
}

.sticky {
  background-color: rgba($color-1, 0.9);
  padding: 0 20px;
}
